body{
    background-image: url(background.jpg);
}
h1 {
    color: white;
    text-align: center;
  }
  
  p {
    color: rgba(255, 255, 255, 0.844);
    text-align: center;
    font-family: verdana;
    font-size: 20px;
  }
  *{
    margin: 0;
    padding: 0;
  }

  .wrapper{
    margin:  0 auto;
    width: 1000px;
  }
  .img-ps5 {
    width: 300px;

  

  }
  /*Header Start */
  #header{
    display:flex;
    align-items: center;
    justify-content: space-between;
  

  }